@import "@/styles/variables.scss";

.root {
  margin-top: 50px;
  background: var(--component-background);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  width: 350px;
  height: 230px;
  padding: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  img {
    width: 120px;
    height: 120px;
  }
}

.temp {
  font-size: 90px;
  color: $primary-color;
}

.day {
  font-size: 30px;
  color: var(--text-color);
}

.bottom {
  font-size: 20px;
  line-height: 25px;
  color: $base-color;
}
