.dark {
  --body-background: #000;
  --component-background: #4f4f4f;
  --text-color: #f0e9e9;
  --card-background: #2e3035;
}

.light {
  --body-background: #f0e9e9;
  --component-background: #f0e9e9;
  --text-color: #000;
  --card-background: rgba(71, 147, 255, 0.2);
}

.theme {
  background-color: var(--body-background);
  transition: 0.5s;
  height: 100vh;
}
