@import "@/styles/variables.scss";

.days {
  padding: 20px;
  width: 1160px;
  background-color: var(--component-background);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-top: 15px;
  transition: $transition;
  margin-bottom: 20px;

  &_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 12.5px;
  }

  &_items {
    display: flex;
    flex-direction: column;
    background-color: rgba(71, 147, 255, 0.2);
    border-radius: $border-radius;
    padding: 15px;
    margin-right: 12.5px;
    width: 125px;
    height: 180px;
    transition: 0.3s;
    cursor: pointer;
    transition: $transition;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.1);
      transition: $transition;
      border-radius: 20px;
    }
    img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }
  }
}

.day {
  margin-bottom: 7px;
  font-size: 18px;
  color: var(--text-color);
  transition: $transition;

  &_info {
    font-size: 14px;
    margin-bottom: 12px;
    color: $base-color;
  }
}

.temp_day {
  font-size: 18px;
  color: $base-color;
}

.temp_night {
  font-size: 15px;
  color: $base-color;
  margin-top: 6px;
}

.info {
  font-size: 15px;
  color: $base-color;
  margin-top: 8px;
}

.tabs {
  display: flex;
  margin-top: 40px;
}

.tab {
  box-shadow: $box-shadow;
  border-radius: 20px;
  padding: 9px 20px;
  background-color: var(--component-background);
  color: var(--text-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
  transition: $transition;
}

.active {
  background: $primary-color;
  color: #fff;
  transition: $transition;
}
