@import "@/styles/variables.scss";

.root {
  position: relative;
}

.input {
  background: var(--component-background);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  transition: $transition;
  color: var(--text-color);
  border: none;
  padding: 12px 25px;
  width: 200px;
  border-radius: 12px;
  padding-left: 50px;
  outline: none;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 12px;
  margin-top: 12px;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 2px;
  margin-top: 12px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
