:root {
  --light-background: #fff;
  --dark-color: #000;
  --card-background-light: rgba(71, 147, 255, 0.2);
  --box-shadow: 3px 3px 15px 5px rgba(180, 180, 180, 0.25);
}

.dark-theme {
  --dark-background: #000;
  --gray-background: #4f4f4f;
  --light-color: #fff;
  --card-background-dark: #2e3035;
}
