@import "@/styles/variables.scss";

.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid $primary-color;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
  transition: $transition;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: $primary-color;
  border-radius: 50%;
  position: absolute;
  transition: $transition;
}
