@import "@/styles/variables.scss";

.root {
  margin-top: 50px;
  background: var(--component-background);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  width: 700px;
  height: 230px;
  padding: 20px;
  transition: $transition;
}

.indicators {
  margin-left: 30px;
}

.items {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.icon {
  margin-right: 20px;
}
.name {
  margin-right: 20px;
  color: $base-color;
  transition: $transition;
}

.value {
  color: var(--text-color);
  transition: $transition;
}
